---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17187'
      X-Ratelimit-Reset:
      - '3335'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "assets": {
              "href": "https://horizon-testnet.stellar.org/assets{?asset_code,asset_issuer,cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://friendbot.stellar.org/{?addr}",
              "templated": true
            },
            "metrics": {
              "href": "https://horizon-testnet.stellar.org/metrics"
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_asset_issuer,buying_asset_type,buying_asset_code,buying_asset_issuer,limit}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.org/"
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "0.14.2-4c30d59b86f551475a3ac60e5555c0c86ff3cb75",
          "core_version": "stellar-core 10.0.0 (1fc018b4f52e8c7e716b023ccf30600af5b4f66d)",
          "history_latest_ledger": 11363501,
          "history_elder_ledger": 1,
          "core_latest_ledger": 11363502,
          "network_passphrase": "Test SDF Network ; September 2015",
          "protocol_version": 10
        }
  recorded_at: Wed, 03 Oct 2018 07:25:34 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17186'
      X-Ratelimit-Reset:
      - '3334'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "type": "https://stellar.org/horizon-errors/not_found",
          "title": "Resource Missing",
          "status": 404,
          "detail": "The resource at the url requested was not found.  This is usually occurs for one of two reasons:  The url requested is not valid, or no data in our database could be found with the parameters provided."
        }
  recorded_at: Wed, 03 Oct 2018 07:25:35 GMT
[...]
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/GAPHLLK32DRM73KYIUMKKTTV5XVG5JND5PAHW7ZBPUW5BVPGJJFWBIMP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17183'
      X-Ratelimit-Reset:
      - '3239'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/accounts/GAPHLLK32DRM73KYIUMKKTTV5XVG5JND5PAHW7ZBPUW5BVPGJJFWBIMP"
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/GAPHLLK32DRM73KYIUMKKTTV5XVG5JND5PAHW7ZBPUW5BVPGJJFWBIMP/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.org/accounts/GAPHLLK32DRM73KYIUMKKTTV5XVG5JND5PAHW7ZBPUW5BVPGJJFWBIMP/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.org/accounts/GAPHLLK32DRM73KYIUMKKTTV5XVG5JND5PAHW7ZBPUW5BVPGJJFWBIMP/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.org/accounts/GAPHLLK32DRM73KYIUMKKTTV5XVG5JND5PAHW7ZBPUW5BVPGJJFWBIMP/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/accounts/GAPHLLK32DRM73KYIUMKKTTV5XVG5JND5PAHW7ZBPUW5BVPGJJFWBIMP/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.org/accounts/GAPHLLK32DRM73KYIUMKKTTV5XVG5JND5PAHW7ZBPUW5BVPGJJFWBIMP/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://horizon-testnet.stellar.org/accounts/GAPHLLK32DRM73KYIUMKKTTV5XVG5JND5PAHW7ZBPUW5BVPGJJFWBIMP/data/{key}",
              "templated": true
            }
          },
          "id": "GAPHLLK32DRM73KYIUMKKTTV5XVG5JND5PAHW7ZBPUW5BVPGJJFWBIMP",
          "paging_token": "",
          "account_id": "GAPHLLK32DRM73KYIUMKKTTV5XVG5JND5PAHW7ZBPUW5BVPGJJFWBIMP",
          "sequence": "42840091164422919",
          "subentry_count": 4451,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false
          },
          "balances": [
            {
              "balance": "5649.9683904",
              "limit": "100000000.0000000",
              "buying_liabilities": "2188.1937581",
              "selling_liabilities": "0.0000000",
              "asset_type": "credit_alphanum4",
              "asset_code": "ABC",
              "asset_issuer": "GCTS32RGWRH6RJM62UVZ4UT5ZN5L6B2D3LPGO6Z2NM2EOGVQA7TA6SKO"
            },
            {
              "balance": "7133.8906789",
              "limit": "100000000.0000000",
              "buying_liabilities": "1625.0425428",
              "selling_liabilities": "0.0000000",
              "asset_type": "credit_alphanum4",
              "asset_code": "ICBC",
              "asset_issuer": "GCTS32RGWRH6RJM62UVZ4UT5ZN5L6B2D3LPGO6Z2NM2EOGVQA7TA6SKO"
            },
            {
              "balance[...]
[...]
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/GAPHLLK32DRM73KYIUMKKTTV5XVG5JND5PAHW7ZBPUW5BVPGJJFWBIMP/operations?limit=1&order=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17187'
      X-Ratelimit-Reset:
      - '3264'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/accounts/GAPHLLK32DRM73KYIUMKKTTV5XVG5JND5PAHW7ZBPUW5BVPGJJFWBIMP/operations?cursor=\u0026limit=1\u0026order=desc"
            },
            "next": {
              "href": "https://horizon-testnet.stellar.org/accounts/GAPHLLK32DRM73KYIUMKKTTV5XVG5JND5PAHW7ZBPUW5BVPGJJFWBIMP/operations?cursor=48805358356930561\u0026limit=1\u0026order=desc"
            },
            "prev": {
              "href": "https://horizon-testnet.stellar.org/accounts/GAPHLLK32DRM73KYIUMKKTTV5XVG5JND5PAHW7ZBPUW5BVPGJJFWBIMP/operations?cursor=48805358356930561\u0026limit=1\u0026order=asc"
            }
          },
          "_embedded": {
            "records": [
              {
                "_links": {
                  "self": {
                    "href": "https://horizon-testnet.stellar.org/operations/48805358356930561"
                  },
                  "transaction": {
                    "href": "https://horizon-testnet.stellar.org/transactions/6b7e6a02491ab1b222ca6dd6a72808626db1d0190146d2e94ab31ec3c396f38a"
                  },
                  "effects": {
                    "href": "https://horizon-testnet.stellar.org/operations/48805358356930561/effects"
                  },
                  "succeeds": {
                    "href": "https://horizon-testnet.stellar.org/effects?order=desc\u0026cursor=48805358356930561"
                  },
                  "precedes": {
                    "href": "https://horizon-testnet.stellar.org/effects?order=asc\u0026cursor=48805358356930561"
                  }
                },
                "id": "48805358356930561",
                "paging_token": "48805358356930561",
                "source_account": "GAPHLLK32DRM73KYIUMKKTTV5XVG5JND5PAHW7ZBPUW5BVPGJJFWBIMP",
                "type": "manage_offer",
                "type_i": 3,
                "created_at": "2018-10-03T07:15:03Z",
                "transaction_hash": "6b7e6a02491ab1b222ca6dd6a72808626db1d0190146d2e94ab31ec3c396f38a",
                "amount": "6.0000000",
                "price": "0.9800000",
                "price_r": {
                  "n": 49,
                  "d": 50
                },
                "buying_asset_type": "credit_alphanum4",
                "buying_asset_code": "BCM",
                "buying_asset_issuer": "GCTS32RGWRH6RJM62UVZ4UT5ZN5L6B2D3LPGO6Z2NM2EOGVQA7TA6SKO",
                "selling_asset_type": "credit_alphanum4",
                "selling_asset_code": "CEB",
                "selling_asset_issuer": "GCTS32RGWRH6RJM62UVZ4UT5ZN5L6B2D3LPGO6Z2NM2EOGVQA7TA6SKO",
                "offer_id": 0
              }
            ]
          }
        }
  recorded_at: Wed, 03 Oct 2018 07:27:36 GMT
[...]
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17165'
      X-Ratelimit-Reset:
      - '3043'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "type": "https://stellar.org/horizon-errors/not_found",
          "title": "Resource Missing",
          "status": 404,
          "detail": "The resource at the url requested was not found.  This is usually occurs for one of two reasons:  The url requested is not valid, or no data in our database could be found with the parameters provided."
        }
  recorded_at: Wed, 03 Oct 2018 07:30:26 GMT
recorded_with: VCR 4.0.0
