---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "assets": {
              "href": "https://horizon-testnet.stellar.org/assets{?asset_code,asset_issuer,cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://friendbot.stellar.org/{?addr}",
              "templated": true
            },
            "metrics": {
              "href": "https://horizon-testnet.stellar.org/metrics"
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_asset_issuer,buying_asset_type,buying_asset_code,buying_asset_issuer,limit}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.org/"
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "0.19.0~unstable-4c74259ad86b7a5e92f9c1822b79017cea04b586",
          "core_version": "stellar-core 11.3.0 (5f7821d327f8e873c1c5fd6b638e70e1f06066e1)",
          "exp_history_latest_ledger": 96904,
          "history_latest_ledger": 96904,
          "history_elder_ledger": 1,
          "core_latest_ledger": 96904,
          "network_passphrase": "Test SDF Network ; September 2015",
          "current_protocol_version": 11,
          "core_supported_protocol_version": 11
        }
  recorded_at: Tue, 06 Aug 2019 12:12:14 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/GBWR5RZCJNPOOU3PG5HUZ2L7MONMNA4VMFDEGZVIHR2PNT7TWDTYJNTT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/accounts/GBWR5RZCJNPOOU3PG5HUZ2L7MONMNA4VMFDEGZVIHR2PNT7TWDTYJNTT"
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/GBWR5RZCJNPOOU3PG5HUZ2L7MONMNA4VMFDEGZVIHR2PNT7TWDTYJNTT/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.org/accounts/GBWR5RZCJNPOOU3PG5HUZ2L7MONMNA4VMFDEGZVIHR2PNT7TWDTYJNTT/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.org/accounts/GBWR5RZCJNPOOU3PG5HUZ2L7MONMNA4VMFDEGZVIHR2PNT7TWDTYJNTT/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.org/accounts/GBWR5RZCJNPOOU3PG5HUZ2L7MONMNA4VMFDEGZVIHR2PNT7TWDTYJNTT/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/accounts/GBWR5RZCJNPOOU3PG5HUZ2L7MONMNA4VMFDEGZVIHR2PNT7TWDTYJNTT/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.org/accounts/GBWR5RZCJNPOOU3PG5HUZ2L7MONMNA4VMFDEGZVIHR2PNT7TWDTYJNTT/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://horizon-testnet.stellar.org/accounts/GBWR5RZCJNPOOU3PG5HUZ2L7MONMNA4VMFDEGZVIHR2PNT7TWDTYJNTT/data/{key}",
              "templated": true
            }
          },
          "id": "GBWR5RZCJNPOOU3PG5HUZ2L7MONMNA4VMFDEGZVIHR2PNT7TWDTYJNTT",
          "account_id": "GBWR5RZCJNPOOU3PG5HUZ2L7MONMNA4VMFDEGZVIHR2PNT7TWDTYJNTT",
          "sequence": "415821553729538",
          "subentry_count": 1,
          "last_modified_ledger": 96890,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false,
            "auth_immutable": false
          },
          "balances": [
            {
              "balance": "999998.5000000",
              "limit": "922337203685.4775807",
              "buying_liabilities": "0.0000000",
              "selling_liabilities": "0.0000000",
              "last_modified_ledger": 96890,
              "is_authorized": true,
              "asset_type": "credit_alphanum4",
              "asset_code": "BTCT",
              "asset_issuer": "GB3KFHI6FGWWJ3FSK6URK7BJAQFSXIXE3P4RK5JSOBS7QA5TH37N5MER"
            },
            {
              "balance": "9999.9999800",
              "buying_liabilities": "0.0000000",
              "selling_liabilities": "0.0000000",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "weight": 1,
              "key": "GBWR5RZCJNPOOU3PG5HUZ2L7MONMNA4VMFDEGZVIHR2PNT7TWDTYJNTT",
              "type": "ed25519_public_key"
            }
          ],
          "data": {}
        }
  recorded_at: Tue, 06 Aug 2019 12:12:16 GMT
- request:
    method: post
    uri: https://horizon-testnet.stellar.org/transactions
    body:
      encoding: UTF-8
      string: tx=AAAAAG0exyJLXudTbzdPTOl%2FY5rGg5VhRkNmqDx09s%2FzsOeEAAAAZAABejAAAAADAAAAAAAAAAEAAAADQkI4AAAAAAEAAAABAAAAAG0exyJLXudTbzdPTOl%2FY5rGg5VhRkNmqDx09s%2FzsOeEAAAAAQAAAAAnC%2BhoGLLBHLgfahPZ%2BD8PLrim9qakV13hW9X%2FFPTPbAAAAAFCVENUAAAAAHainR4prWTsslepFXwpBAsrouTb%2BRV1MnBl%2BAOzPv7eAAAAAADk4cAAAAAAAAAAAfOw54QAAABAg4vNJODdb3grjHPLAVYlbfBH%2BS%2FCoPt7YP%2BeqbXNJYiotTv7RbxRbF86FUGhQCy6Inb0LvlALL5Kow1Tm0RtAg%3D%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "type": "https://stellar.org/horizon-errors/transaction_failed",
          "title": "Transaction Failed",
          "status": 400,
          "detail": "The transaction failed when submitted to the stellar network. The `extras.result_codes` field on this response contains further details.  Descriptions of each code can be found at: https://www.stellar.org/developers/learn/concepts/list-of-operations.html",
          "extras": {
            "envelope_xdr": "AAAAAG0exyJLXudTbzdPTOl/Y5rGg5VhRkNmqDx09s/zsOeEAAAAZAABejAAAAADAAAAAAAAAAEAAAADQkI4AAAAAAEAAAABAAAAAG0exyJLXudTbzdPTOl/Y5rGg5VhRkNmqDx09s/zsOeEAAAAAQAAAAAnC+hoGLLBHLgfahPZ+D8PLrim9qakV13hW9X/FPTPbAAAAAFCVENUAAAAAHainR4prWTsslepFXwpBAsrouTb+RV1MnBl+AOzPv7eAAAAAADk4cAAAAAAAAAAAfOw54QAAABAg4vNJODdb3grjHPLAVYlbfBH+S/CoPt7YP+eqbXNJYiotTv7RbxRbF86FUGhQCy6Inb0LvlALL5Kow1Tm0RtAg==",
            "result_codes": {
              "transaction": "tx_failed",
              "operations": [
                "op_no_destination"
              ]
            },
            "result_xdr": "AAAAAAAAAGT/////AAAAAQAAAAAAAAAB////+wAAAAA="
          }
        }
  recorded_at: Tue, 06 Aug 2019 12:12:22 GMT
recorded_with: VCR 4.0.0
