---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "assets": {
              "href": "https://horizon-testnet.stellar.org/assets{?asset_code,asset_issuer,cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://friendbot.stellar.org/{?addr}",
              "templated": true
            },
            "metrics": {
              "href": "https://horizon-testnet.stellar.org/metrics"
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_asset_issuer,buying_asset_type,buying_asset_code,buying_asset_issuer,limit}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.org/"
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "0.16.0-unstable-a2e9fe993848af99ee16a16930b4fde6662e121f",
          "core_version": "stellar-core 10.2.0 (54504c714ab6e696283e0bd0fdf1c3a029b7c88b)",
          "history_latest_ledger": 2239489,
          "history_elder_ledger": 1,
          "core_latest_ledger": 2239489,
          "network_passphrase": "Test SDF Network ; September 2015",
          "protocol_version": 10,
          "current_protocol_version": 10,
          "core_supported_protocol_version": 10
        }
  recorded_at: Fri, 15 Feb 2019 03:37:55 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/transactions/idonotexist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "type": "https://stellar.org/horizon-errors/not_found",
          "title": "Resource Missing",
          "status": 404,
          "detail": "The resource at the url requested was not found.  This is usually occurs for one of two reasons:  The url requested is not valid, or no data in our database could be found with the parameters provided."
        }
  recorded_at: Fri, 15 Feb 2019 03:37:56 GMT
recorded_with: VCR 4.0.0
