---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/operations/TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17088'
      X-Ratelimit-Reset:
      - '972'
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "https://stellar.org/horizon-errors/bad_request",
          "title": "Bad Request",
          "status": 400,
          "detail": "The request you sent was invalid in some way",
          "extras": {
            "invalid_field": "id",
            "reason": "strconv.ParseInt: parsing \"TEST\": invalid syntax"
          }
        }
  recorded_at: Mon, 07 May 2018 09:11:26 GMT
recorded_with: VCR 4.0.0
