---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/operations/37587135708020737
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17118'
      X-Ratelimit-Reset:
      - '1438'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/operations/37587135708020737"
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/4685b3b43512be87586832214da1d3ccd45c4098c2d90b8e3539866debe9652f"
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.org/operations/37587135708020737/effects"
            },
            "succeeds": {
              "href": "https://horizon-testnet.stellar.org/effects?order=desc\u0026cursor=37587135708020737"
            },
            "precedes": {
              "href": "https://horizon-testnet.stellar.org/effects?order=asc\u0026cursor=37587135708020737"
            }
          },
          "id": "37587135708020737",
          "paging_token": "37587135708020737",
          "source_account": "GDORX35OXMJXSYI6HXO2URB5K3GW7UPVB5WR7YC36HAMS2EQEQGDIRKT",
          "type": "payment",
          "type_i": 1,
          "created_at": "2018-05-02T11:25:57Z",
          "transaction_hash": "4685b3b43512be87586832214da1d3ccd45c4098c2d90b8e3539866debe9652f",
          "asset_type": "native",
          "from": "GDORX35OXMJXSYI6HXO2URB5K3GW7UPVB5WR7YC36HAMS2EQEQGDIRKT",
          "to": "GAIS4X5I2YBA2JHSESCYCDT7SKYBPTA5S22WAFHWOPTEMLRWD66GBQW2",
          "amount": "200.0000000"
        }
  recorded_at: Mon, 07 May 2018 15:22:03 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/transactions/TRANSACTION_ID_1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17116'
      X-Ratelimit-Reset:
      - '1429'
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "https://stellar.org/horizon-errors/not_found",
          "title": "Resource Missing",
          "status": 404,
          "detail": "The resource at the url requested was not found.  This is usually occurs for one of two reasons:  The url requested is not valid, or no data in our database could be found with the parameters provided."
        }
  recorded_at: Mon, 07 May 2018 15:22:04 GMT
recorded_with: VCR 4.0.0
